<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <!--  콘솔 출력  -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%green([%d{ISO8601} %d{Z}]) %highlight(%5level) --- [%15thread]
        %cyan([%-50logger{50}]) : %msg %n
      </pattern>
    </layout>
  </appender>

  <!--  로컬  -->
  <logger name="com.bifos.walletcrawler" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>